.recommentedVideo{
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 40px ;
}
.recommentedVideo > h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}
.recommentedVide__video {
    display: flex;
    flex-wrap: wrap;
}